@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

:root {
  --main-color: #0f3357;
  --secondary-color: #fee5c3;
  --third-color: #f7faff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  background-color: var(--third-color);
}

.event_nav {
  height: 40px;
  width: 100%;
  background-color: var(--main-color);
}

.event_banner {
  text-align: center;
  height: 80%;
  width: 100%;
  background: #222d41;
}

/* ---event list start--- */
.event_container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 60%;
}

/* ----search bar---- */

.event_searchBar_wrapper {
  background-color: var(--main-color);
  border-radius: 1rem;
  /* height: 5.5rem; */
}

.event_searchBar_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.event_searchBar_container .react-datepicker-wrapper {
  margin: 8px 0;
  width: 100%;
}
.event_rangeText{
  margin: 0 4rem;
}

.event_searchBar_datepicker {
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid #aeaeae;
  line-height: 16px;
  padding: 6px 10px 5px;
  margin: 1rem 1rem;
  width: 14rem;
  cursor: pointer;
} */
.event_search_submit {
  width: 8rem;
  height: 40px;
  border: none;
  margin: 0 3rem;
}

.event_search_submit:hover {
  background-color: var(--secondary-color);
}

/*-----event------- */
.event_wrapper {
  width: 90%;
}

.event_time_left {
  width: 11.5rem;
  height: 11.5rem;
  text-align: center;
  border-radius: 1.5rem;
  border: 0.5px solid lightgray;
  background-color: #fff;
  /* position: relative; */
}
.event_time_month {
  font-size: 1.2rem;
  width: 11.5rem;
  background-color: var(--secondary-color);
  border-radius: 1.5rem 1.5rem 0 0;
  letter-spacing: 0.5rem;
  padding: 1rem;
}
.event_time_day {
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: 0.5rem;
}

.event_time_weekday {
  font-size: 1rem;
  margin-top: 1em;
}

/* .event_time_square {
  width: 0.5rem;
  height: 0.7rem;
  position: abosolute;
  background-color: white;
  border: 0.5px solid lightgray;
} */

/* ------event cover------ */
.event_imgInfo_card {
  padding: 0;
  text-decoration: none;
}

.event_imgInfo_card:hover {
  box-shadow: 5px 5px 5px  lightgrey;
}

.event_cover_wrapper {
  width: 300px;
  height: 200px;
  margin-left: 10px;
}
.event_cover {
  width: 100%;
  height: 100%;
}
.event_cover > img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  
}
/* ------event info-------- */
.event_info {
  width: 600px;
  position: relative;
  background-color: #fff;
  border: 0.5px solid lightgrey;
  color: black;  
}

.event_info_time {
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.event_info_quota {
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.event_info_coach {
  width: 50px;
  height: 50px;  
  border-radius: 50%;
  position: absolute;
  right: 4rem;
  bottom: 3rem;
  overflow: hidden;
}

.event_info_coach_name {
  position: absolute;
  right: 3rem;
  bottom: 1rem;
}
.event_info_coach > img {  
  width: 100%;
  height: 100%;
  object-fit: contain;
}