.giftCardCheckoutPage{
    height: 90vh;
}
.giftCard-title{
    background-color: #09203f;
    color:#fff;
}
.giftCard-order{
    border: 1px solid rgb(175, 175, 175);
}
.GiftCardCheckout__btn__pre{
    background-color: #ffecd2;
    color: #09203f;
    font-size:1.2rem;
}
.GiftCardCheckout__btn__next{
    background-color:#2571e3;
    color: #fff;
    font-size:1.2rem;
}