/* test */

html {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

main section button a {
  text-decoration: none;
  color: #09203f;
}
.playList--context a:hover,
.event--context a:hover {
  text-decoration: none;
  color: #09203f;
}
/* hearder */

header {
  height: 100vh;
  background: rgb(83, 120, 149);
  background: linear-gradient(
    180deg,
    rgba(83, 120, 149, 1) 0%,
    rgba(9, 32, 63, 1) 100%
  );
  color: white;
  position: relative;
}
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav img {
  margin-left: 50px;
  width: 150px;

  filter: hue-rotate(1deg) brightness(30);
}
.nav--logo {
  margin: 1.2rem;
}

.nav--link {
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

.nav--link--ul {
  display: flex;
  margin-right: 1rem;
}
.nav--link--ul li {
  list-style: none;
  margin-right: 1rem;
}
.nav--link--ul li a {
  cursor: pointer;
  color: #fff;
}
.nav--link--icon {
  margin-right: 1rem;
}
.nav-scrollDown {
  position: absolute;
  left: 48%;
  top: 85%;
  text-align: center;
}
.nav-scrollDown i,
p {
  margin: 0;
}
.hero-player {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}
.home-video-filter {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(5, 3, 31, 0.637);
  top: 0;
  left: 0;
  z-index: 10;
}
.hero-player--title {
  text-align: center;
  display: block;
  width: 50vw;
  height: 20vh;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40vh;
  left: 25vw;
  z-index: 11;
}
@keyframes title {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero-player--title h1 {
  animation: 1s ease-out 0s 1 title;
  color: #ecf4ff;
  font-weight: 900;
  font-style: italic;
  word-spacing: 13px;
  letter-spacing: 10px;
  font-size: 200px;
  text-shadow: #09203f 5px 5px, #537895 8px 8px;
}
/* 課程選擇區 */
.scrollTo {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
  font-size: 1.1rem;
  text-align: center;
  position: relative;
  z-index: 98;
}
.scrollTo:hover {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
.scrollTo:active {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}
#scrollTo {
  color: transparent;
  height: 4rem;
}
.course {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 20%;
  margin-top: 5%;
}

.course--context {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #537895;
}
.course--context h3 {
  font-size: 2.5rem;
  color: #537895;
}
.course--context--filter {
  margin-top: 10px;
  width: 100%;
}
.course--context--filter--part {
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.course--context--filter--part button {
  width: 20%;
  margin: 0 1%;
  padding: 1%;
  font-size: 1rem;
  background-color: #09203f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s;
}
.course--context--filter--part button:hover {
  background-color: #537895;
}

.course--context--filter--part-active {
  background-color: #537895 !important;
}

.course--context--filter--input {
  width: 100%;
}
.course--context--filter--input input {
  width: 100%;
  height: 2rem;
}
.course--context--filter--input button {
  height: 2rem;
  background-color: #09203f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: 0.3s;
}
.course--context--filter--input button:hover {
  background-color: #537895;
}
/* 待播清單區 */
.playList {
  width: auto;
  margin: 10% 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.playList--context {
  width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #537895;
}
.playList--context h3 {
  font-size: 2.5rem;
}
.playList--context p {
  font-size: 1rem;
  width: 100%;
}
.playList--context button {
  position: relative;
  left: 70%;
  bottom: -10%;
  width: 30%;
  background: none;
  border: 1px solid #09203f;
  color: #09203f;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.playList--context button:hover {
  border: 1px solid transparent;
  background-color: #09203f;
  color: #fff;
  transform: scale(1.1);
}

/* 活動介紹區 */

.event {
  margin: 10% 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.event--context {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #537895;
}

.event--context h3 {
  font-size: 2.5rem;
}
.event--context p {
  font-size: 1rem;
  width: 100%;
}
.event--group {
  position: relative;
}

.event--group--cards {
  display: flex;
  flex-direction: column;
}
.event--group--cards img {
  margin: 5% 0;
}
.home__eventCard {
  position: relative;
  height: 9rem;
  width: 28rem;
  transition: 0.4s;
  top: 0%;
  border: 1px solid transparent;
  border-radius: 0 5px 5px 0;
}
.home__eventCard:hover {
  position: relative;
  top: -3%;
  transition: 0.4s;
  /* border: 1px solid #09203f;
  border-left: 1px solid transparent; */
  box-shadow: 3px 3px 3px #09203f41;
}
.home__eventCard__title {
  color: #537895;
}
.home__eventCard__content {
  color: #333;
  font-size: 1rem;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}
.home_eventCard__container {
  max-height: 9rem;
  width: auto;
  overflow: hidden;
}
.event--group--link {
  position: relative;
  left: 80%;
  width: 30%;
  background: none;
  border: 1px solid #09203f;
  color: #09203f;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0;
  transition: 0.4s;
  text-decoration: none;
}
.event--group--link:hover {
  border: 1px solid transparent;
  background-color: #09203f;
  color: #fff;
  transform: scale(1.1);
}
/* 商品區 */
/* .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 10%;
} */

.product--context {
  width: 35%;
  color: #537895;
  margin-bottom: 3%;
  text-align: center;
}

.product--context h3 {
  font-size: 2.5rem;
  margin-bottom: 3%;
}

.product--context p {
  font-size: 1rem;
}

.product--items {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* 教練區 */
.coach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10%;
}

.coach h3 {
  font-size: 2.5rem;
  color: #537895;
}
.coach img {
  /* margin: 0 5%; */
}
.coach__link img {
  transition: 0.2s;
}
.coach__link img:hover {
  transform: scale(1.1);
}
.giftCard {
  position: relative;
  margin: 0 auto;
  padding: 5%;
  background: #537895;
  color: #fff;
  width: 60%;
  border-radius: 2rem;
}

.giftCard img {
  width: 300px;
  position: absolute;
  top: -35%;
  right: -10%;
  transform: rotate(20deg);
  border-radius: 10px;
}
.giftCard h3 {
  font-size: 2.5rem;
  margin-bottom: 3%;
}
.giftCard p {
  font-size: 1.2rem;
}
.giftCard button {
  background-color: #537895;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.733);
  padding: 2% 3%;
  position: relative;
  left: 80%;
  top: 20%;
  border-radius: 10px;
  transition: 0.4s;
}
.giftCard button:hover {
  background-color: rgb(255, 201, 85);
  transform: scale(1.1);
  border: 1px solid transparent;
  color: #fff;
  padding: 2% 3%;
  position: relative;
  left: 80%;
  top: 20%;
  border-radius: 10px;
}
